<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">


    <div class="row">
      <div class="justify-content-flex-start">

        <a class="navbar-brand" href="/">
          <!-- <i class="fab fa-github fa-2x"></i> -->
          <span>
            Main Page
          </span>
        </a>
      </div>

      </div>

  </div>
</nav>

<div class="titleCard">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1 class="titleText">New Age is an app landing page that will help you beautifully showcase your new mobile app,
        or anything else!</h1>
        <br>
        <a class="btn btn-outline">Start Now For Free</a>
      </div>
      <div class="col-sm-5 justify-center">
        <img class="phone" src="./../../assets/img/phone.png">
      </div>
    </div>
  </div>
</div>

<div class="discover">
  <div class="row">
    <h1>Discover what all the buzz is about!</h1>
  </div>
</div>
